[MASTER]
# Specify a max number of characters on a single line.
max-line-length=120

[MESSAGES CONTROL]
# Disable the message category you don't need.
disable=

[REPORTS]
# Output format for reports.
output-format=text

[LOGGING]
# Set the default logging format.
logging-modules=logging
