[requires]
python_version = "3.11"

[packages]
requests = "*"
gpt4all = "*"
trove-classifiers = "*"
ptyprocess = "*"
msgpack = "*"
lockfile = "*"
distlib = "*"
tomlkit = "*"
tomli = "*"
shellingham = "*"
rapidfuzz = "*"
pyrsistent = "*"
poetry-core = "*"
platformdirs = "*"
pkginfo = "*"
pexpect = "*"
packaging = "*"
jeepney = "*"
filelock = "*"
dulwich = "*"
crashtest = "*"
cachecontrol = "*"
virtualenv = "*"
SecretStorage = "*"
jsonschema = "*"
cleo = "*"
keyring = "*"
poetry-plugin-export = "*"
poetry = "*"
bumpver = "*"
pytest-timeout = "*"
mypy = "*"
vosk = "*"
sounddevice = "*"
number-parser = "*"
word2number = "*"
pyttsx3 = "*"
gtts = "*"
gTTS = "*"
number_parser = "*"
fontTools = "*"
Requests = "*"
pyyaml = "*"
anthropic = {extras = ["vertex"], version = "*"}
google-cloud-aiplatform = "*"
argcomplete = "*"

[dev-packages]
coverage = "*"
pytest = "*"
pytest-timeout = "*"
pytest-mock = "*"
autopep8 = "*"
black = "*"
flake8 = "*"
twine = "*"
build = "*"
mypy = "*"
