FIELD|Description
FIELD|Steps to Reproduce
FIELD|Actual Behavior
FIELD|Expected Behavior
FIELD|Additional Context

TEMPLATE|Description

Description

{{Description}}

Steps to Reproduce

{{Steps to Reproduce}}

Actual Behavior

{{Actual Behavior}}

Expected Behavior

{{Expected Behavior}}

Additional Context

{{Additional Context}}
