FIELD|Description
FIELD|Steps to Reproduce
FIELD|Actual Behavior
FIELD|Expected Behavior
FIELD|Affected Version
FIELD|Additional Context

TEMPLATE|Description

h2. Description

{{Description}}

h2. Steps to Reproduce

{{Steps to Reproduce}}

h2. Actual Behavior

{{Actual Behavior}}

h2. Expected Behavior

{{Expected Behavior}}

h2. Affected Version

{{Affected Version}}

h2. Additional Context

{{Additional Context}}
