Be concerned with jira formatting issues.  Some items to consider are: 
Convert '###' to 'h4.' and convert '##' to 'h3.' and convert '#' into 'h2.'
If there is a number before the hashes remove it.
If you see a code block, something like ```yaml  some code here ```  convert it into 
{code:java}this format{code}
Other formatting issues include the use of '**', e.g: **some text**.  
This is meant to be text surrounded by a single '*' either side to indicate bold.
If you spot other jira formatting issues, be sure to clean them up.
