FIELD|User Story
FIELD|Acceptance Criteria
FIELD|Supporting Documentation
FIELD|Definition of Done

TEMPLATE|Description

h2. User Story

{{User Story}}

h2. Acceptance Criteria

{{Acceptance Criteria}}

h2. Supporting Documentation

{{Supporting Documentation}}

h2. Definition of Done

{{Definition of Done}}
